#login{
	height: 250px;
	padding: 20px;
	margin-top: 150px;
	background-color: #000;
}

#registrar a{
	color: #fff;
}

#registrar a:hover{
	text-decoration: none;
}

.error{
	color: #F00;
	display: none;
}

#titleList{
	margin: 20px;
	font-size: 20px;
	font-weight: bold;
}

.editar, .borrar{
	float: right;
	margin: 0px 5px;
}

.editar{
	color: #FFCC00;
}

.borrar{
	color: #900;
}