#login{
	height: 250px;
	padding: 20px;
	margin-top: 150px;
	background-color: #000;
}

#registrar a{
	color: #fff;
}

#registrar a:hover{
	text-decoration: none;
}

.error{
	color: #F00;
	display: none;
}